/* Media Query Sizes 
$extra-large: 1600px;
$extra-break: 1320px;
$first-break: 1152px;
$second-break: 1023px;
$mobile-break: 900px;
$mobile-med: 642px;
$mobile-small: 479px;
$extra-small: 360px;

http://www.w3schools.com/tags/ref_pxtoemconversion.asp
*/
$full-screen: 1920px;
$extra-large: 100em;
$extra-break: 82.5em;
$first-break: 75em;
$second-break: 63.9375em;
$third-break: 56.25em;
$mobile-break: 56.25em;
$mobile-med: 40.125em;
$mobile-small: 29.9375em;
$extra-small: 22.5em;
