/* Set your primary colors here */
$offWhite: #f7f7f7;
$darkGrey: #2a2a2a;

$green: #006130;
$dark-green: #044726;
$darker-green: #00381c;
$primary-yellow: #febe10;
$secondary-yellow: #e1a400;
$grey: #ececec;

/* Social colors */
$facebook: #3b5998;
$twitter: #3cf;
$youtube: #e52d27;
$instagram: #3f729b;

/* Make sure to set this*/
$mainColor: $green;

/* typical text color */
$textColor: $darkGrey;

/* color when ya highlight something with the mouse */
$selectionColor: #333333;

/* simple a and a:hover */
$linkColor: $green;
$linkHover: black;
