/* Set your primary colors here */
$red: #990000;
$blue: #0000ff;
$offWhite: #fff6df;
$purple: #633394; /*rgba(99, 51, 148, 1)*/
$darkPurple: #37236a;
$grey: #eaeaea; /* rgba(234, 234, 234, 1) */
$altGrey: darken($grey, 20%);
$darkGrey: #2a2a2a;

$green: #006130;
$dark-green: #00381c;
$primary-yellow: #febe10;
$secondary-yellow: #e1a400;

/* Social colors */
$facebook: #3b5998;
$twitter: #3cf;
$youtube: #e52d27;
$instagram: #3f729b;

/* Make sure to set this*/
$mainColor: $purple;

/* typical text color */
$textColor: $darkGrey;

/* color when ya highlight something with the mouse */
$selectionColor: #333333;

/* simple a and a:hover */
$linkColor: $red;
$linkHover: black;

.green-bg {
    background-color: $green;
}

.dark-green-bg {
    background-color: $dark-green;
}

.offwhite-bg {
    background-color: $offWhite;
}
