/* Set your primary colors here */
$offWhite: #fff6df;
$darkGrey: #2a2a2a;

$green: #006130;
$dark-green: #00381c;
$primary-yellow: #febe10;
$secondary-yellow: #e1a400;

/* Social colors */
$facebook: #3b5998;
$twitter: #3cf;
$youtube: #e52d27;
$instagram: #3f729b;

/* Make sure to set this*/
$mainColor: $green;

/* typical text color */
$textColor: $darkGrey;

/* color when ya highlight something with the mouse */
$selectionColor: #333333;

/* simple a and a:hover */
$linkColor: $green;
$linkHover: black;

.green-bg {
    background-color: $green !important;
}

.dark-green-bg {
    background-color: $dark-green !important;
}

.offwhite-bg {
    background-color: $offWhite !important;
}
