/* List all headings, or target range */
@function headings($from: 1, $to: 6) {
    @if $from == $to {
        @return 'h#{$from}';
    } @else {
        @return 'h#{$from},' + headings($from + 1, $to);
    }
}

/* Typographical Basics
--------------------------------------------- */

html {
    font-size: 62.5%; /* 10px browser default */
}
body {
    background-color: white;
    color: $textColor;
    font-family: 'libre-franklin', sans-serif;
    font-size: 23px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.625;

    &.menu-open {
        overflow: hidden;
    }
}

/* Headings
--------------------------------------------- */

#{headings(1,6)} {
    line-height: 1.2;
    margin: 0 0 16px;
}

.home {
    h2 {
        font-size: 40px;
        @media (min-width: $mobile-med) {
            font-size: 42px;
        }
        @media (min-width: $mobile-break) {
            font-size: 47px;
        }
    }
    h3 {
        font-size: 28px;
        @media (min-width: $mobile-med) {
            font-size: 30px;
        }
        @media (min-width: $mobile-break) {
            font-size: 34px;
        }
    }
}

h1 {
    font-size: 40px;
    font-family: 'bookmania', serif;
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;
    color: $green;
    text-shadow: 0px 0px 10px #000000;
    @media (min-width: $mobile-med) {
        font-size: 42px;
    }
    @media (min-width: $mobile-break) {
        font-size: 47px;
    }
}
h2 {
    color: $darkGrey;
    font-size: 28px;
    font-family: 'bookmania', serif;
    font-weight: 400;
    font-style: normal;
    color: $green;
    text-transform: capitalize;
    @media (min-width: $mobile-med) {
        font-size: 30px;
    }
    @media (min-width: $mobile-break) {
        font-size: 34px;
    }
}
h3 {
    color: $darkGrey;
    font-size: 24px;
    font-family: 'bookmania', serif;
    font-weight: 700;
    font-style: normal;
    text-transform: capitalize;
    @media (min-width: $mobile-med) {
        font-size: 26px;
    }
    @media (min-width: $mobile-break) {
        font-size: 28px;
    }
}
h4 {
    color: $green;
    font-family: 'libre-franklin', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    font-weight: bold;
    text-transform: capitalize;
    @media (min-width: $mobile-med) {
        font-size: 23px;
    }
    @media (min-width: $mobile-break) {
        font-size: 24px;
    }
}
h5 {
    color: $darkGrey;
    font-family: 'libre-franklin', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 21px;
    text-transform: capitalize;
}
h6 {
    color: $green;
    font-size: 18px;
    text-transform: capitalize;
    font-family: 'libre-franklin', sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Text Classes */

.text-center {
    text-align: center;
}

.white-text {
    p,
    a:not(.button),
    strong,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    time {
        color: #fff !important;
    }
}

.no-wrap {
    text-wrap: nowrap;
}

/* Typographical Basics +
--------------------------------------------- */

a {
    color: $green;
    text-decoration: underline;

    img {
        vertical-align: bottom;
    }

    &.block {
        margin: 0 0 16px;
    }
    &:hover {
        text-decoration: none;
    }
}

p {
    margin: 0 0 16px;
    padding: 0;
}

strong {
    font-weight: 700;
    margin: 0 0 16px;
}

blockquote,
blockquote::before {
    color: lighten($textColor, 10%);
}

blockquote {
    position: relative;
    margin: 40px 40px 24px;

    &::before {
        content: '';
        position: absolute;
        background-image: url('assets/images/mga-blockquote.png');
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        font-size: 30px;
        width: 30px;
        height: 30px;
        left: -40px;
        top: 5px;
    }
}

hr {
    box-sizing: border-box;
    display: block;
    height: 1px;
    border-color: $primary-yellow;
    border-style: solid;
    margin: 8px 0 10px;
    padding: 0;
}

.entry-content code {
    background-color: #cbcbcb;
    color: #000;
}

cite {
    font-style: normal;
}

/* Selection colours */
::selection {
    background: $selectionColor;
    color: #fff;
}
::-moz-selection {
    background: $selectionColor;
    color: #fff;
}

img::selection {
    background: transparent;
}
img::-moz-selection {
    background: transparent;
}

body {
    -webkit-tap-highlight-color: $selectionColor;
}
