/* Forms
--------------------------------------------- */

/* note: .button includes input[type="submit"], watch for styles that need to be overridden one way or the other */
input,
textarea {
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 12px;
    width: 100%;
    margin-bottom: 12px;
    height: $spacing-med;
    color: $green;
}

.select-wrapper {
    position: relative;
    height: $spacing-med;
    cursor: pointer;
    select {
        cursor: pointer;
    }
    &::after {
        content: '';
        background: url(assets/images/select-dropdown-arrow.svg);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: $spacing-xs;
        height: 10px;
        pointer-events: none;
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    color: white;
    background-color: $dark-green;
    background-repeat: no-repeat;
    font-weight: bold;
    border: 0px;
    height: $spacing-med;
    width: 165px;
    padding-left: 10px;
    font-size: 16px;
    font-family: 'bookmania', serif;
    font-weight: 400;
}

input:focus,
textarea:focus {
    border: 1px solid #999;
    outline: none;
}

input[type='checkbox'],
input[type='radio'] {
    width: auto;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button {
    display: none;
}
