#main,
main {
    ul {
        padding-left: 0;

        li {
            position: relative;
            list-style-type: square;
            text-indent: -0;
            margin-left: $spacing-sm;
            color: $textColor;
            font-style: italic;

            &::marker {
                color: $primary-yellow;
            }
        }
    }
}

ol {
    counter-reset: list;
    list-style-type: none;

    > li::before {
        counter-increment: list;
        content: counters(list, '.');

        display: inline-block;
        width: 20px;
        margin-right: 6px;
        color: $green;
        font-weight: bold;
    }
}

ul,
ol {
    margin: 0 0 24px;
    padding: 0;

    > li > ul,
    > li > ol {
        margin-left: 24px;
        margin-bottom: 0;
    }
}

p + ul {
    margin-top: -12px;
}
