h1.site-title {
    display: flex;
    align-items: center;
    margin: 0;
    span {
        position: absolute;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px;
        width: 1px;
        margin: 0;
        padding: 0;
        border: 0;
    }
}

.skip-content {
    position: absolute;
    z-index: -1;
    top: 0;
    padding: 0 5px;
    padding: 0 0.5rem;
    color: $green;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 700;
    opacity: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/*
Site Navigation
---------------------------------------------------------------------------------------------------- */

/* See /vendors/superfish.scss */
#main-menu,
#primary-sub-menu {
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

/*** DEMO SKIN ***/

.sf-menu li {
    position: relative;
    list-style-type: none;
    text-align: right;
    transition: background 0.2s;
}
