/* Nav Primary
---------------------------------------------------------------------------------------------------- */
#secondary-nav {
    background-color: $green;
    display: flex;
    justify-content: flex-end;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    .secondary-items {
        margin: 0;
        display: flex;
        li {
            border-left: 1px solid $primary-yellow;
            padding: 15px 35px;
            display: flex;
            align-items: center;
            a {
                color: white;
                font-size: 18px;
                font-family: 'bookmania', serif;
                font-weight: 400;
            }
            label {
                color: white;
                margin-right: 15px;
                font-family: 'libre-franklin', sans-serif;
                font-weight: 700;
                font-style: normal;
                font-size: 14px;
            }
        }
    }
}
#primary-nav {
    width: 100%;
    height: 100px;
    margin-top: 50px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    overflow: visible;
    color: #fff;
    z-index: 300;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    border-bottom: 11px solid $primary-yellow;
    h1.site-title {
        display: flex;
        align-items: center;
        margin: 0;
        span {
            position: absolute;
            overflow: hidden;
            clip: rect(1px, 1px, 1px, 1px);
            height: 1px;
            width: 1px;
            margin: 0;
            padding: 0;
            border: 0;
        }
    }

    .primary-items {
        margin: 0;
        display: flex;
        align-items: center;
        height: 100%;
        li {
            height: 100%;
            &:first-of-type {
                a {
                    &::after {
                        content: unset;
                    }
                }
            }
            &#search-menu-item {
                height: 100%;
                padding: 0px;
                width: 100px;
                background: $primary-yellow;
                #search-link {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    span[aria-hidden='true'] {
                        display: none;
                    }
                    &::after {
                        content: unset;
                    }
                }
            }
            a {
                color: $textColor;
                height: 100%;
                display: flex;
                align-items: center;
                padding: 15px 35px;
                transition: background 0.15s ease-in-out;
                font-size: 22px;
                font-family: 'bookmania', serif;
                font-weight: 400;
                font-style: normal;
                &:hover {
                    background-color: $primary-yellow;
                    &::after {
                        content: unset;
                    }
                }
                &::after {
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 60%;
                    transform: translateY(-50%);
                    left: -1px;
                    top: 50%;
                    background: $primary-yellow;
                }
            }
        }
    }
}

/* Mobile Menu */
.slicknav_menu {
    display: none;

    @media screen and (max-width: $mobile-break) {
        display: block;
    }
}
@media screen and (max-width: $mobile-break) {
    #main-menu,
    #primary-sub-menu {
        display: none;
    }
}

/*
Site Navigation
---------------------------------------------------------------------------------------------------- */

/* See /vendors/superfish.scss */
#main-menu,
#primary-sub-menu {
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}
/* Programs, Visit, Apply, and Give */
#primary-sub-menu {
    width: 245px;
}

/* Adds background beneath nav during closing animation */
.navigation-bg {
    background-color: $darkPurple;
    position: fixed;
    width: 0;
    height: 100%;
    right: 0;
    top: 0;
    z-index: -2;
    transition: width 0.2s ease-in-out;

    .menu-open & {
        width: $push;
    }
}

.navigation-menu-wrapper {
    position: fixed;
    z-index: 305;
    right: -$push;
    top: 0px;
    bottom: 0px;
    width: $push;
    height: 100%;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: visible;
    backface-visibility: hidden;

    @media screen and (max-width: $mobile-break) {
        width: 100%;
        right: -100%;
    }
}

/* 
 * Navigation close button 
 * Can also close using escape key 
 */
.close {
    background-color: transparent;
    position: absolute;
    z-index: 50;
    top: 0;
    right: 0;
    float: right;
    border: none;
    padding: 10px;
    line-height: 0;
    opacity: 0;
    transition: all 0.2s ease-in-out;

    .icon-cross {
        color: #fff;
        font-size: 25px;
    }

    .button-text {
        display: none;
        visibility: hidden;
    }

    &:hover,
    &:focus {
        background-color: $purple;
    }
}

.mobile-menu-container {
    padding: 10px 0;

    .menu-open & {
        width: $push;
        right: push;

        @media screen and (max-width: $mobile-break) {
            width: 275px;
        }
    }

    .mobile-title {
        display: inline-block;
        vertical-align: bottom;
        margin: 0;
        padding: 5px 15px;
        max-width: 200px;
        font-size: 1px;
    }

    @media screen and (max-width: $mobile-break) {
        position: fixed;
        right: 0;
        background-color: $purple;
        top: 0;
        left: 0;
        width: 100%;
        transition: right 0.5s ease-in-out, width 0.297s ease-in-out;
    }
}

/* Menu icon after beyond header area */
.scroll-menu {
    background-color: rgba(99, 51, 148, 0.5);
    position: fixed;
    top: 0;
    right: -80px;
    width: 75px;
    padding: 15px 20px 20px 15px;
    color: #fff;
    font-size: 35px;
    line-height: 0;
    visibility: hidden;
    transition: right 0.5s ease-in-out, visibility 0.6s ease-in-out,
        background 0.3s ease-in-out;

    &:hover,
    &:focus {
        background-color: rgba(99, 51, 148, 1);
    }

    .menu-open & {
        right: -130px !important;

        @media screen and (max-width: $mobile-break) {
            right: 0 !important;
        }
    }

    @media screen and (max-width: $mobile-break) {
        background-color: rgba(99, 51, 148, 1);
        position: relative;
        right: 0;
        float: right;
        padding: 20px 20px 10px 15px;
        visibility: visible;
        transition: none;

        @media screen and (-webkit-min-device-pixel-ratio: 0) {
            padding: 20px 20px 17px 15px;
        }
    }
}

.scroll-menu .icon-menu {
    @media screen and (max-width: $mobile-break) {
        float: right;
    }
}

.hide-menu-tabs {
    #main-menu,
    #primary-sub-menu {
        width: 0;
        visibility: hidden;
    }

    .scroll-menu {
        right: -10px;
        visibility: visible;

        @media screen and (max-width: $mobile-break) {
            right: 0;
        }
    }
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.9);
    display: block;
    position: fixed;
    z-index: 60;
    top: 0;
    left: 100%;
    right: -$push;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    transition-property: opacity;
    transition-duration: 750ms;
    transition-timing-function: ease-in-out;
}

.menu-open {
    .modal-overlay {
        left: 0;
        right: $push;
        opacity: 1;
    }

    .close {
        opacity: 1;
    }

    .navigation-menu-wrapper {
        right: 0;
        visibility: visible;
    }

    #main-menu,
    #primary-sub-menu,
    #main {
        right: $push;
        visibility: visible;
    }

    #main-menu {
        width: 415px;
    }

    #primary-sub-menu {
        width: 245px;
    }
}

/*** DEMO SKIN ***/
.sf-menu {
}

.sf-menu a {
}

#primary-sub-menu a {
    font-size: 14px;
}

.sf-menu li {
    position: relative;
    list-style-type: none;
    text-align: right;
    transition: background 0.2s;
}

.sub-items {
    top: 215px;
}

#menu-tab-container {
    @media screen and (max-width: $mobile-break) {
        .menu-tab {
            position: relative;
            padding: 30px;
            opacity: 1;
            visibility: visible;
        }

        .common-search-box {
            display: none;
        }
    }
}

.menu-tab {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    max-height: 999999999em;
    padding: 50px 30px;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.menu-tab[aria-expanded='true'] {
    z-index: 5;
    visibility: visible;
    overflow: visible;
    opacity: 1;
}

.mobile-nav-quick-links {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0 30px;
    list-style-type: none;

    a {
        background-color: darken($purple, 5%);
        display: block;
        margin-bottom: 10px;
        padding: 10px 15px;
        font-weight: bold;
        text-transform: uppercase;
        transition: background-color 0.3s ease-in-out;

        &:hover,
        &:focus {
            background-color: lighten($purple, 5%);
        }
    }
}

.social-media-container {
    background: $darkPurple;
    position: fixed;
    z-index: 100;
    bottom: 0;
    right: 0;
    width: 410px;
    height: auto;
    border-top: 1px solid $purple;
    padding: 20px 0;
    text-align: center;

    [class^='icon-'] {
        margin: 5px;
        color: #fff;
        font-size: 30px;
        transition: none;

        &:before {
            transition: color 0.2s ease-in;
        }

        &:first-of-type {
            margin-left: 0;
        }

        &:last-of-type {
            margin-right: 0;
        }
    }

    #footer-contact & {
        background-color: transparent;
        position: relative;
        border: none;
        padding: 0;
        text-align: right;

        [class^='icon-'] {
            font-size: 25px;
        }
    }

    .secondary-menu & {
        background-color: transparent;
        position: absolute;
        width: 100px;
        border: none;
        padding: 23px 0;
        text-align: right;

        [class^='icon-'] {
            color: $purple;
        }

        @media screen and (max-width: $mobile-break) {
            display: none;
        }
    }

    @media screen and (max-width: $mobile-break) {
        width: 100%;
        right: 0;
    }
}

/*-------------------------
	MAIN MENU
-------------------------*/
#navigation-toggles {
    margin-bottom: 55px;

    @media screen and (max-width: $mobile-break) {
        margin-bottom: 15px;
    }
}

.navigation-container .toggle-with-anchor .trigger .toggle-anchor {
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
}

.navigation-container .toggle-with-anchor .trigger .toggle-dropdown {
    height: 38px;
}

.navigation-container .box {
    margin-bottom: 0;
    list-style-type: none;
    text-indent: 15px;

    a {
        background-color: transparent;
        display: block;
        padding: 6px 12px;
        font-size: 14px;
        transition: all 0.3s ease-in-out;

        &:hover {
            background: $purple;
        }
    }
}

.quick-links {
    list-style-type: none;

    li a {
        background-color: transparent;
        display: block;
        padding: 6px 12px;
        transition: all 0.3s ease-in-out;

        &:hover,
        &:focus {
            background: $purple;
        }
    }
}

/*-------------------------
	SEARCH
--------------------------*/
#navigation-search {
    margin-top: 30px;

    input {
        background: #fff;
        text-transform: uppercase;
    }
}

.common-search-box {
    p {
        border-bottom: 1px solid $purple;
        margin-bottom: 0;
        padding: 6px 10px;
        transition: all 0.3s ease-in-out;

        &:hover {
            background: $purple;
        }

        a {
            display: block;
        }
    }
    p:first-of-type {
        border-bottom: none;
        margin: 0;
        font-weight: bold;

        &:hover {
            background: transparent;
        }
    }
}

.recommended-search-result {
    border-bottom: none;
    font-style: normal;
    font-weight: normal;

    &:hover,
    &:focus {
        border-bottom: none;
    }
}

/*-------------------------
	NEWS & EVENTS
--------------------------*/
.event-time {
    margin: 0;
    font-size: 14px;
}

.event-header {
    margin: 0 0 5px;
}

.events-section {
    margin-bottom: 35px;
}

.events-section h4 {
    padding: 0 10px;
}

.events-section a:hover:not(.single-news-listing),
.events-section a:focus:not(.single-news-listing) {
    color: $altGrey;
}

#more-news,
#more-events {
    display: block;
    margin-top: -10px;
    padding: 0 10px;
    font-size: 13px;
}

.single-news-listing {
    background-color: $darkPurple;
    display: inline-block;
    vertical-align: super;
    width: 100%;
    padding: 15px;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: $purple;
    }

    @media screen and (max-width: $mobile-break) {
        .one-third {
            width: 33.3%;
        }

        .two-thirds {
            width: 66.6%;
        }
    }
}

#navigation-news-events {
    @media screen and (max-width: $mobile-break) {
        margin-bottom: 30px;
    }
}

/*-------------------------
	SECONDARY MENU
--------------------------*/
.secondary-menu {
    display: block;
    position: relative;
    text-align: center;

    @media screen and (max-width: $mobile-break) {
        text-align: left;
    }
}

.inner-menu {
    display: inline-block;
    width: auto;
    margin: auto;
    list-style-type: none;

    @media screen and (max-width: $mobile-break) {
        display: none;
    }
}

.inner-menu li {
    display: inline-block;
    vertical-align: baseline;
    padding: 0 20px;
}

.inner-menu a {
    display: block;
    position: relative;
    border-bottom: 7px solid $grey;
    padding: 25px 5px;
    color: $darkGrey;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    transition: border 0.3s ease;

    @media screen and (max-width: $first-break) {
        font-size: 14px;
    }

    &:hover {
        border-color: $purple;
    }
}

/*-------------------------
	DROPDOWN MENU
--------------------------*/
.sub-menu {
    background-color: darken($purple, 5%);
    position: absolute;
    z-index: 50;
    left: 0;
    right: 0;
    max-width: 100%;
    min-height: 20px;
    margin: auto;
    overflow: hidden;
}
.sub-menu li {
    float: left;
    width: 33.33%;
    border-right: 1px solid $darkPurple;
    padding: 0;
    text-align: left;

    &:nth-of-type(3n + 3) {
        border-right: none;

        a {
            margin-right: -11px;

            @media screen and (max-width: $mobile-break) {
                margin-right: 0;
            }
        }
    }
}
.sub-menu a {
    color: #fff;
    border: none;
    padding: 10px 25px;
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
    white-space: normal;

    &:hover {
        background: $purple;
    }
}
