.placeholder {
    color: $green;
    opacity: 1;
    font-size: 24px;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-style: normal;
    @media (min-width: $mobile-med) {
        font-size: 26px;
    }
    @media (min-width: $mobile-break) {
        font-size: 28px;
    }
}

::-moz-placeholder {
    color: $green;
    opacity: 1;
    font-size: 24px;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-style: normal;
    @media (min-width: $mobile-med) {
        font-size: 26px;
    }
    @media (min-width: $mobile-break) {
        font-size: 28px;
    }
}

::-webkit-input-placeholder {
    color: $green;
    opacity: 1;
    font-size: 24px;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-style: normal;
    @media (min-width: $mobile-med) {
        font-size: 26px;
    }
    @media (min-width: $mobile-break) {
        font-size: 28px;
    }
}

:-ms-input-placeholder {
    color: $green;
    opacity: 1;
    font-size: 24px;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-style: normal;
    @media (min-width: $mobile-med) {
        font-size: 26px;
    }
    @media (min-width: $mobile-break) {
        font-size: 28px;
    }
}

::-ms-input-placeholder {
    color: $green;
    opacity: 1;
    font-size: 24px;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-style: normal;
    @media (min-width: $mobile-med) {
        font-size: 26px;
    }
    @media (min-width: $mobile-break) {
        font-size: 28px;
    }
}
