// basic page section-wrap padding
.section-wrap {
    padding: 88px 0;

    article > &:first-child {
        padding-top: 56px;
    }

    &.padding-as-margin {
        padding-top: 0;
        margin-top: 88px;
    }

    @media (max-width: $extra-break) {
        padding-top: 56px;
        padding-bottom: 56px;

        article > &:first-child {
            padding-top: 48px;
        }

        &.padding-as-margin {
            padding-top: 0;
            margin-top: 56px;
        }
    }

    @media (max-width: $mobile-med) {
        padding-top: 36px;
        padding-bottom: 36px;

        article > &:first-child {
            padding-top: 36px;
        }

        &.padding-as-margin {
            padding-top: 0;
            margin-top: 36px;
        }
    }
}

.green-bg {
    background-color: $dark-green !important;
}

.dark-green-bg {
    background-color: $darker-green !important;
}

.offwhite-bg {
    background-color: $offWhite !important;
}

.green-overlay {
    position: relative;
    .container {
        z-index: 1;
    }
    &::after {
        content: '';
        background: $green;
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.offwhite-overlay {
    position: relative;
    background-position: bottom !important;

    .container {
        z-index: 1;
    }
    &::after {
        content: '';
        background: $offWhite;
        opacity: 0.95;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.white-overlay {
    position: relative;
    background-position: bottom !important;

    .container {
        z-index: 1;
    }
    &::after {
        content: '';
        background: white;
        opacity: 0.75;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.gold-border-top {
    padding-top: $spacing-med;
    border-top: 2px solid $primary-yellow;
}

.gold-border-bot {
    padding-bottom: $spacing-med;
    border-bottom: 2px solid $primary-yellow;
}
