.callout {
    @media screen and (min-width: $first-break) {
        .container {
            display: flex;
            border-top: 2px solid $primary-yellow;
            border-bottom: 2px solid $primary-yellow;
            padding: 50px 0;
        }

        &__container {
            &.left {
                padding-right: 70px;
                border-right: 8px solid $primary-yellow;
                img {
                    min-height: 100%;
                    max-width: unset !important;
                }
            }
            &.right {
                padding-left: 70px;
            }
        }
    }
    @media screen and (max-width: $first-break) {
        .container {
            display: flex;
            flex-direction: column;
        }
        &__container {
            &.left {
                border-top: 2px solid $primary-yellow;
                display: flex;
                justify-content: center;
                padding-top: 25px;
            }
            &.right {
                padding-top: 25px;
                border-bottom: 2px solid $primary-yellow;
            }
        }
    }
}
