#university-stats {
    position: relative;
    background: url(assets/images/hp-stats-bg.png);
    background-repeat: no-repeat;
    background-position: bottom;

    @media screen and (min-width: $extra-break) {
        background-size: cover;
        padding-top: 600px;
        padding-bottom: 300px;
    }
    @media screen and (max-width: $extra-break) {
        padding-bottom: 300px;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            background: rgb(255, 255, 255);
            background: linear-gradient(
                180deg,
                rgba(255, 255, 255, 1) 0%,
                rgba(255, 255, 255, 0.93) 69%,
                rgba(255, 255, 255, 0) 100%
            );
            z-index: 0;
            width: 100%;
            height: 50%;
        }
    }
}

.horizontal-cards {
    &__cards {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        &__card {
            background: white;
            border-bottom: 8px solid $primary-yellow;
            height: 273px;
            width: 372px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding: 30px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            strong {
                display: block;
                color: $green;
                font-size: 79px;
                font-family: 'bookmania', serif;
                font-weight: 400;
                font-style: normal;
            }
            p {
                display: block;
                color: $green;
                font-size: 34px;
                text-align: center;
                font-family: 'bookmania', serif;
                font-weight: 400;
                font-style: normal;
            }
        }
        @media screen and (max-width: $extra-break) {
            flex-direction: column;
            &__card {
                width: 100%;
            }
        }
    }

    &__content {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        gap: 25px;
    }
    &.icons {
        .horizontal-cards__cards {
            gap: 25px;
            .horizontal-cards__cards__card {
                gap: 15px;
                width: 100%;
                height: unset;
                .badge-icon {
                    @media screen and (min-width: $extra-break) {
                        margin-top: -70px;
                    }
                    height: 96px;
                    width: 77px;
                }
                h3 {
                    color: $green;
                }
            }
        }
        .horizontal-cards__content {
        }
    }
}
