.cards {
    .container {
        .cards__wrap__card {
            flex: 0 1 calc(33.333% - 10px);
        }
    }
    .container-large {
        .cards__wrap__card {
            flex: 0 1 calc(25% - 12px);
        }
    }
    &__wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: $spacing-xs;
        margin: 0;
        &__card {
            position: relative;
            background: $offWhite;
            border-bottom: 8px solid $primary-yellow;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            padding: 25px;
            box-shadow: rgba(0, 0, 0, 0.18) 0px 3px 8px;
            flex: 1;
            align-self: stretch;
            transition: 0.25s ease-in-out;
            &.no-hover {
                border-bottom: 8px solid $primary-yellow !important;
            }
            &:hover {
                border-bottom: 8px solid $green;
            }
            // h4 {
            //     color: $green;
            // }

            .header-image {
                width: calc(100% + $spacing-med);
                max-width: calc(100% + $spacing-med);
                margin-top: -$spacing-sm;
                object-fit: cover;
                margin-bottom: $spacing-xs;
                margin-left: -$spacing-sm;
            }
            .button-arrow,
            .button {
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
        @media screen and (max-width: $extra-break) {
            flex-direction: column;
            &__card {
                width: 100%;
            }
        }
    }

    &__content {
        display: flex;
        justify-content: center;
        margin-top: $spacing-med;
        gap: $spacing-sm;
        @media screen and (max-width: $mobile-break) {
            flex-direction: column;
        }
    }
    &.quote {
        .cards__wrap {
            gap: $spacing-sm;
            .cards__wrap__card {
                gap: $spacing-xs;
                flex: 1;
                align-items: center;
                padding: $spacing-med $spacing-sm;
                background: $darker-green;
                border-bottom: 5px solid $primary-yellow;
                text-align: center;
                * {
                    color: white;
                }
                .badge-icon {
                    height: 96px;
                    width: 77px;
                    background: url(assets/images/badge-bg-white.svg) no-repeat;
                    background-size: cover !important;
                    img {
                        position: absolute;
                        left: 50%;
                        top: calc(50% + 5px);
                        transform: translate(-50%, -50%);
                        max-height: unset;
                    }
                }
                h3 {
                    color: white !important;
                }
            }
        }
    }
    &.icons {
        .cards__wrap {
            gap: 10px;
            .cards__wrap__card {
                align-items: center;
                gap: $spacing-xs;
                padding: 25px 10px !important;
                flex: 1;
                height: unset;
                text-align: center;
                h3 {
                    color: $green;
                    font-size: 24px;
                }
                .button-arrow {
                    font-weight: 600;
                    text-wrap: nowrap;
                    padding-right: 10px;
                }
                .badge-icon {
                    height: 96px;
                    width: 77px;
                }
                // @media screen and (max-width: $extra-break) {
                //     padding-left: 30%;
                //     .badge-icon {
                //         position: absolute;
                //         left: 20%;
                //         transform: translateX(-50%);
                //     }
                // }
            }
        }
        &.align-start {
            .cards__wrap__card {
                align-items: flex-start !important;
                padding: 25px !important;
                * {
                    text-align: left;
                }
            }
        }
        &.announcement {
            .cards__wrap {
                .cards__wrap__card {
                    background-color: $darker-green !important;
                    padding-top: 50px !important;
                    padding-bottom: 50px !important;
                    flex: 1;
                    .badge-icon.white {
                        background-size: contain !important;
                    }
                }
            }
        }
    }
    &.borders {
        .cards__wrap {
            .cards__wrap__card {
                align-items: center;
                gap: $spacing-xs;
                width: 100%;
                height: unset;
                h3,
                h4 {
                    text-align: center;
                }
                .header-image {
                    margin-left: unset;
                }
                &:hover {
                    &::after {
                        opacity: 1;
                    }
                }
            }
        }
    }
    &.stats {
        position: relative;

        .cards__wrap__card {
            align-items: center;
            min-height: 193px;
            width: 372px;
            justify-content: flex-start;
            @media screen and (max-width: $extra-break) {
                width: 100%;
                height: unset;
            }
            p {
                display: block;
                color: $green;
                font-size: 25px;
                text-align: center;
                font-family: 'Outfit', sans-serif;
                font-weight: 400;
                font-style: normal;
            }
            strong {
                display: block;
                color: $green;
                font-size: 79px;
                font-family: 'Outfit', sans-serif;
                font-weight: 600;
                font-style: normal;
                margin-bottom: 0;
                @media screen and (max-width: $extra-break) {
                    font-size: 50px;
                }
            }
        }

        // @media screen and (min-width: $extra-break) {
        //     background-size: cover !important;
        //     padding-top: 600px;
        //     padding-bottom: 300px;
        // }
        @media screen and (max-width: $extra-break) {
            //padding-bottom: 300px;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                background: rgb(255, 255, 255);
                background: linear-gradient(
                    180deg,
                    rgba(255, 255, 255, 1) 0%,
                    rgba(255, 255, 255, 0.93) 69%,
                    rgba(255, 255, 255, 0) 100%
                );
                z-index: 0;
                width: 100%;
                height: 50%;
            }
        }
    }
    &.desktop-offset-top {
        @media screen and (min-width: $extra-break) {
            margin-top: -215px;
        }
    }
    &.single-row {
        .container,
        .container-large {
            .cards__wrap__card {
                flex: 1 !important;
            }
        }
    }
}
