.stallion-bg {
    position: relative;
    &::before {
        content: '';
        background: url(assets/images/stallion.svg) no-repeat;
        background-size: contain;
        width: 567px;
        height: 587px;
        position: absolute;
        left: $spacing-med;
        top: $spacing-xl;
        @media screen and (max-width: $extra-break) {
            width: 320px;
            height: 320px;
            left: 50%;
            transform: translateX(-50%);
            top: $spacing-sm;
        }
    }
}
.full-width {
    padding: 0px;
    &.fifty-fifty {
        display: flex;
        &__left {
            width: 50%;
            padding: $spacing-xl;
        }

        &__right {
            width: 50%;
            padding: $spacing-xl;
        }
        &.image-right {
            .fifty-fifty__left {
                padding: $spacing-xl;
            }
            .fifty-fifty__right {
                padding: 0;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        &.image-left {
            .fifty-fifty__left {
                padding: 0;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .fifty-fifty__right {
                padding: $spacing-xl;
            }
        }
    }
    &.forty-sixty {
        display: flex;
        &.forty-right {
            .forty-sixty__left {
                width: 60%;
            }
            .forty-sixty__right {
                width: 40%;
            }
        }
        &.image-right {
            .forty-sixty__left {
                padding: $spacing-xl;
            }
            .forty-sixty__right {
                padding: 0;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        &.forty-left {
            .forty-sixty__left {
                width: 40%;
            }
            .forty-sixty__right {
                width: 60%;
            }
        }
        &.image-left {
            .forty-sixty__left {
                padding: 0;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .forty-sixty__right {
                padding: $spacing-xl;
            }
        }
        @media screen and (max-width: $extra-break) {
            &.image-right {
                flex-direction: column;
                .forty-sixty__left {
                    width: 100%;
                    padding: 20px;
                }
                .forty-sixty__right {
                    width: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            &.image-left {
                .forty-sixty__left {
                }
                .forty-sixty__right {
                }
            }
        }
    }
    &.fifty-fifty,
    &.forty-sixty {
        &__left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            &.offwhite-fade {
                position: relative;
                &::after {
                    content: '';
                    background: rgb(0, 0, 0);
                    background: linear-gradient(
                        90deg,
                        rgba(255, 246, 223, 1) 0%,
                        rgba(0, 0, 0, 0) 90%
                    );
                    position: absolute;
                    right: -30%;
                    top: 0;
                    width: 30%;
                    height: 100%;
                }
            }
        }
        &__right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            &.offwhite-fade {
                position: relative;
                &::before {
                    content: '';
                    background: rgb(0, 0, 0);
                    background: linear-gradient(
                        90deg,
                        rgba(0, 0, 0, 0) 0%,
                        rgba(255, 246, 223, 1) 90%
                    );
                    position: absolute;
                    left: -30%;
                    top: 0;
                    width: 30%;
                    height: 100%;
                }
            }
        }
    }
    &.program-single-info {
        .back-btn {
            position: relative;
            text-decoration: none;
            font-style: italic;
            padding-left: 30px;
            font-weight: 400;
            &::before {
                content: '';
                background: url(assets/images/btn-arrow-yellow.svg);
                background-repeat: no-repeat;
                background-size: contain;
                height: 20px;
                width: 20px;
                position: absolute;
                left: -5px;
                top: 20%;
                transform: rotate(180deg);
            }
        }
        a {
            margin-bottom: $spacing-sm;
            font-weight: 700;
        }
        p {
            margin-bottom: 0;
            text-transform: uppercase;
        }
    }
}
@media screen and (max-width: $extra-break) {
    .full-width {
        &.fifty-fifty {
            flex-direction: column;
            &__left {
                width: 100%;
                padding: 5%;
            }

            &__right {
                width: 100%;
                padding: 5%;
            }
        }
        &.forty-sixty {
            &.image-right {
                flex-direction: column;
                .forty-sixty__left {
                    width: 100%;
                    padding: 20px;
                }
                .forty-sixty__right {
                    width: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
        &.fifty-fifty,
        &.forty-sixty {
            &__left {
                &.offwhite-fade {
                    position: relative;
                    &::after {
                        content: unset;
                    }
                }
            }
            &__right {
                &.offwhite-fade {
                    position: relative;
                    &::before {
                        content: unset;
                    }
                }
            }
        }
    }
}
