#campus-life {
    background-color: $offWhite;
    .forty-sixty__left {
        position: relative;
        &::before {
            content: '';
            background: url(assets/images/stallion.svg) no-repeat;
            background-size: contain;
            width: 567px;
            height: 587px;
            position: absolute;
            left: 50px;
            top: 100px;
            @media screen and (max-width: $extra-break) {
                width: 320px;
                height: 320px;
                left: 50%;
                transform: translateX(-50%);
                top: 25px;
            }
        }
    }
}
.full-width {
    &.fifty-fifty {
        display: flex;
        &__left {
            width: 50%;
            padding: 100px;
        }

        &__right {
            width: 50%;
            padding: 100px;
        }
    }
    &.forty-sixty {
        display: flex;
        &.forty-right {
            .forty-sixty__left {
                width: 60%;
            }
            .forty-sixty__right {
                width: 40%;
            }
        }
        &.image-right {
            .forty-sixty__left {
                padding: 100px;
            }
            .forty-sixty__right {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        &.forty-left {
            .forty-sixty__left {
                width: 40%;
            }
            .forty-sixty__right {
                width: 60%;
            }
        }
        &.image-left {
            .forty-sixty__left {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .forty-sixty__right {
                padding: 100px;
            }
        }
        @media screen and (max-width: $extra-break) {
            &.image-right {
                flex-direction: column;
                .forty-sixty__left {
                    width: 100%;
                    padding: 20px;
                }
                .forty-sixty__right {
                    width: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            &.image-left {
                .forty-sixty__left {
                }
                .forty-sixty__right {
                }
            }
        }
    }
}
@media screen and (max-width: $extra-break) {
    .full-width {
        &.fifty-fifty {
            flex-direction: column;
            &__left {
                width: 100%;
                padding: 5%;
            }

            &__right {
                width: 100%;
                padding: 5%;
            }
        }
        &.forty-sixty {
            &.image-right {
                flex-direction: column;
                .forty-sixty__left {
                    width: 100%;
                    padding: 20px;
                }
                .forty-sixty__right {
                    width: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}
