#header {
    /* Nav Primary
---------------------------------------------------------------------------------------------------- */
    #desktop-nav-secondary {
        background-color: $dark-green;
        display: flex;
        justify-content: flex-end;
        height: $spacing-med;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 300;
        .secondary-items {
            margin: 0;
            display: flex;
            .secondary-item {
                position: relative;
                padding: 0 35px;
                display: flex;
                align-items: center;
                &::after {
                    content: '';
                    background: $primary-yellow;
                    width: 1px;
                    height: 20px;
                    position: absolute;
                    right: 0;
                }
                a {
                    color: white;
                    font-size: 18px;
                    font-family: 'Outfit', sans-serif;
                    font-weight: 400;
                    text-decoration: none;
                }
                label {
                    color: white;
                    margin-right: $spacing-xs;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 700;
                    font-style: normal;
                    font-size: 14px;
                }
                &.current-item {
                    a {
                        color: $primary-yellow;
                    }
                }
                #information-select {
                    border-bottom: 1px solid $primary-yellow;
                    height: 25px;
                }
                &:not(.information-select-wrapper) {
                    &:hover {
                        background-color: $primary-yellow;

                        a {
                            color: $textColor;
                        }
                    }
                }
            }
        }
    }
    #desktop-nav-primary {
        position: relative;
        width: 100%;
        height: 75px;
        margin-top: $spacing-med;
        position: fixed;
        top: 0;
        left: 0;
        background-color: $dark-green;
        overflow: visible;
        color: #fff;
        z-index: 300;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-left: 5%;
        box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.26);
        li.site-title,
        div.site-title {
            img {
                position: absolute;
                top: calc(50% - 25px);
                transform: translateY(-50%);
                left: 30px;
                width: 25%;
                height: auto;
            }
        }

        .primary-items {
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            //width: 85%;
            .primary-item {
                height: 100%;
                width: 100%;
                position: unset;
                margin: 0 5px;
                &:first-of-type {
                    a {
                        &::after {
                            content: unset;
                        }
                    }
                }
                &#desktop-search-menu-item {
                    height: 100%;
                    padding: 0px;
                    width: $spacing-xl;
                    #desktop-search-trigger {
                        height: 100%;
                        min-width: 100px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        span[aria-hidden='true'] {
                            display: none;
                        }
                        &::after {
                            content: unset;
                        }

                        .icon-search-green,
                        .icon-search {
                            pointer-events: none;
                        }
                    }
                    #desktop-search-form {
                        display: none;
                        justify-content: center;
                        align-items: center;
                        gap: $spacing-xs;
                        opacity: 0;
                        background: $offWhite;
                        height: 95px;
                        width: 100vw;
                        position: absolute;
                        width: 100%;
                        left: 0;
                        top: 100%;
                        padding: 0 $spacing-xs;

                        input {
                            margin-bottom: 0;
                        }

                        input[type='search'] {
                            width: 1200px;
                            height: 100%;

                            &:focus {
                                border: 0px;
                            }
                        }

                        input[type='reset'] {
                            width: 95px;
                            font-weight: 900;
                        }
                        input[type='submit'] {
                            width: min-content;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
                .desktop-nav-subnav {
                    display: none;
                    opacity: 0;
                    position: absolute;
                    width: 100%;
                    left: 0;
                    top: 100%; /* 100% + border bottom of prumary desktop menu */
                    background: $offWhite;
                    gap: $spacing-sm;
                    padding: $spacing-sm;
                    box-shadow: 0rem 0.15rem 0.5rem 0 rgba(0, 0, 0, 0.29);

                    .desktop-nav-subnav-list {
                        flex: 1;
                        &.no-header {
                            a:not(.button),
                            span {
                                text-align: left;
                                position: relative;
                                display: block;
                                padding: 10px;
                                color: $green;
                                text-decoration: none;
                                font-family: 'Outfit', sans-serif;
                                font-weight: 700;
                                font-size: 22px;
                                border-bottom: 1px solid #e2e2e2;
                                transition: background-color 0.3s ease;
                                &::after {
                                    content: '';
                                    background: url(assets/images/btn-arrow-yellow.svg)
                                        no-repeat;
                                    background-size: contain;
                                    height: 22px;
                                    width: 13px;
                                    position: absolute;
                                    right: 0;
                                    top: 50%;
                                    left: unset;
                                    transform: translateY(-50%);
                                    filter: brightness(0);
                                }
                            }
                        }
                        a:not(.button),
                        span {
                            text-align: left;
                            position: relative;
                            display: block;
                            padding: 10px;
                            color: black;
                            text-decoration: none;
                            font-family: 'Outfit', sans-serif;
                            font-weight: 400;
                            font-size: 22px;
                            border-bottom: 1px solid #e2e2e2;
                            transition: background-color 0.3s ease;
                            &::after {
                                content: unset;
                            }
                        }

                        .desktop-nav-subnav-item {
                            a:hover {
                                color: $green;
                            }
                            &.desktop-nav-header {
                                span {
                                    padding-bottom: 0;
                                    color: black;
                                    border-bottom: 4px solid $primary-yellow;
                                    font-size: 28px;
                                    font-weight: 700;
                                    &::after {
                                        content: unset;
                                    }
                                }
                            }
                        }
                        .desktop-nav-subnav-button {
                            text-align: left;
                            margin-top: 20px;
                        }
                    }
                }
                .desktop-nav-link {
                    &::after {
                        content: unset !important;
                    }
                }
                .desktop-nav-subnav-trigger,
                .desktop-nav-link {
                    text-decoration: none;
                    position: relative;
                    color: white;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 15px 30px;
                    transition: background 0.15s ease-in-out;
                    font-size: 22px;
                    font-family: 'Outfit', sans-serif;
                    font-weight: 400;
                    font-style: normal;
                    border: 0;
                    background-color: transparent;
                    width: max-content;
                    &:hover {
                        color: $primary-yellow;
                    }
                    &::after {
                        content: '';
                        background: url(assets/images/select-dropdown-arrow.svg);
                        background-repeat: no-repeat;
                        background-size: cover;
                        position: absolute;
                        right: -5px;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 15px;
                        height: 10px;
                        pointer-events: none;
                    }
                    @media screen and (max-width: $first-break) {
                        padding: $spacing-xs $spacing-xs;
                        font-size: 18px;
                    }
                }
                &.current-item {
                    button {
                        color: $primary-yellow;
                    }
                }
            }
        }
    }

    #mobile-nav {
        height: 80px;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 300;
        padding-left: $spacing-xs;
        background: $dark-green;
        display: flex;
        gap: $spacing-xs;

        #mobile-search-menu-item {
            flex: 1;
            height: 100%;
            padding: 0px;
            width: 58px;
            #mobile-search-trigger {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                span[aria-hidden='true'] {
                    display: none;
                }
                &::after {
                    content: unset;
                }

                .icon-search-green,
                .icon-search {
                    pointer-events: none;
                }
            }
            #mobile-search-form {
                display: none;
                justify-content: center;
                align-items: center;
                gap: 5px;
                opacity: 0;
                background: $offWhite;
                height: 68px;
                width: 100vw;
                position: absolute;
                width: 100%;
                left: 0;
                top: calc(
                    100% + 11px
                ); /* 100% + border bottom of primary desktop menu */
                padding: 0 $spacing-xs;

                input {
                    margin-bottom: 0;
                }

                input[type='search'] {
                    width: 180px;
                    height: 100%;

                    &:focus {
                        border: 0px;
                    }
                }

                input[type='reset'] {
                    width: 95px;
                    font-weight: 900;
                }
                input[type='submit'] {
                    width: min-content;
                }
            }
        }
        #mobile-menu {
            position: fixed;
            top: 80px;
            right: -100%; /* initially off-screen */
            width: 100%;
            height: calc(100% - 80px);
            background-color: $offWhite;
            // box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            transition: right 0.3s ease;
            padding: 0 $spacing-sm;
            .mobile-nav-primary-item {
                a:not(.button),
                span {
                    text-align: left;
                    position: relative;
                    display: block;
                    padding: 10px;
                    color: $textColor;
                    text-decoration: none;
                    font-family: 'Outfit', sans-serif;
                    font-weight: 400;
                    font-size: 22px;
                    border-bottom: 1px solid $primary-yellow;
                    transition: background-color 0.3s ease;
                    &::after {
                        content: '';
                        background: url(assets/images/btn-arrow-yellow.svg)
                            no-repeat;
                        background-size: contain;
                        height: 22px;
                        width: 13px;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        filter: brightness(0);
                    }
                }
                a:hover {
                    color: $green;
                }
                .mobile-nav-header {
                    span {
                        padding-bottom: 0;
                        color: $green;
                        border-bottom: 4px solid $primary-yellow;
                        font-size: 28px;
                        &::after {
                            content: unset;
                        }
                    }
                }
                .mobile-nav-subnav {
                    overflow-y: scroll;
                    position: fixed;
                    top: 80px;
                    right: -100%; /* initially off-screen */
                    width: 100%;
                    height: calc(100% - 80px);
                    background-color: $offWhite;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                    transition: right 0.3s ease;
                    padding: 0 $spacing-sm;
                    .mobile-nav-subnav-item {
                        a,
                        span {
                            &:hover {
                                color: $green !important;
                            }
                        }
                        &.back-btn {
                            a {
                                padding-bottom: 0;
                                padding-left: 40px;
                                &::after {
                                    left: 0;
                                    transform: translateY(-50%) rotateZ(180deg);
                                }
                            }
                        }
                        .mobile-nav-subnav-sublist {
                            margin-left: 0px;

                            .mobile-nav-subnav-item:not(.mobile-nav-header) {
                                a,
                                span {
                                    color: $textColor;
                                    font-family: 'Poppins', sans-serif;
                                    font-weight: 400;
                                    font-size: 22px;
                                    &::after {
                                        content: unset;
                                    }
                                }
                            }
                            .mobile-nav-subnav-item:last-of-type a {
                                border-bottom: unset;
                            }
                        }
                    }
                    .mobile-nav-button {
                        position: relative;
                        margin: 0 -25px;
                        width: unset;
                    }
                }
                &.expanded {
                    .mobile-nav-subnav {
                        display: block !important;
                        right: 0;
                        z-index: 301;
                    }
                }
            }
            .mobile-nav-secondary-item {
                a,
                span {
                    text-align: left;
                    position: relative;
                    display: block;
                    padding: $spacing-xs;
                    color: $green;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 700;
                    font-style: normal;
                    font-size: 14px;
                    transition: background-color 0.3s ease;
                }
                a:hover {
                    color: $textColor;
                }
                .mobile-nav-header {
                    margin-left: -24px;

                    span {
                        color: $green;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-family: 'Poppins', sans-serif;
                        font-weight: 700;
                        font-style: normal;
                        font-size: 14px;
                    }
                }
                .mobile-nav-subnav {
                    .mobile-nav-subnav-item:not(.mobile-nav-header) {
                        text-align: left;
                        a,
                        span {
                            font-family: 'Outfit', sans-serif;
                            font-weight: 400;
                            font-size: 16px;
                            color: $textColor;
                            text-transform: none;
                        }
                        a:hover {
                            color: $green;
                        }
                    }
                }
            }

            .mobile-nav-button {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                .button {
                    width: 100%;
                    text-align: center;
                    margin-bottom: 0;
                }
            }

            &.active {
                display: block;
                right: 0;
                z-index: 300;
            }
        }

        #mobile-menu-trigger {
            position: relative;
            width: 90px;
            top: 0;
            right: 0;
            height: 100%;
            background: $primary-yellow;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            z-index: 2;
            &::after {
                content: 'Menu';
                position: absolute;
                bottom: -5px;
                left: 50%;
                transform: translateX(-50%);
                font-size: 12px;
                font-family: 'Outfit', sans-serif;
                font-weight: 400;
                color: $green;
            }
            span {
                display: block;
                width: 30px;
                height: 3px;
                background-color: $green;
                margin-bottom: 6px;
                transition: 0.25s ease-in-out;
            }
            &.active {
                span {
                    &#mobile-menu-trigger-line-1 {
                        transform: translateY(9px) rotateZ(45deg);
                    }
                    &#mobile-menu-trigger-line-2 {
                        opacity: 0;
                    }
                    &#mobile-menu-trigger-line-3 {
                        transform: translateY(-9px) rotateZ(-45deg);
                    }
                }

                &::after {
                    content: 'Close';
                }
            }
        }

        li.site-title,
        div.site-title {
            img {
                max-height: 40px;
            }
        }
    }
}
