.instagram-feed {
    &__header {
        text-align: center;
        .badge-icon {
            display: inline-block;
        }
        h4 {
            display: inline-block;
            text-transform: unset;
        }
    }
    &__feed {
        padding: 0 $spacing-xs;
        display: flex;
        gap: 5px;
        &__thumbnail {
            flex: 1;
            img {
                min-height: 300px;
                //min-width: 300px;
                object-fit: cover;
                transition: 0.25s ease;
            }
            &:hover {
                img {
                    opacity: 0.75;
                }
            }
            @media screen and (max-width: $mobilenew-break) {
                &.mobile-hide {
                    display: none;
                }
            }
        }
    }
    @media screen and (max-width: $second-break) {
        &__feed {
            flex-direction: column;
            padding: 0;
            &__thumbnail {
                img {
                    min-width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}
