.news-article-single {
    &__header {
        &__breadcrumbs {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px solid $primary-yellow;
            margin-bottom: $spacing-sm;

            .social-icons {
                display: flex;
                gap: $spacing-xs;
                li {
                    list-style-type: none !important;
                    margin-left: 0 !important;
                }
                .badge-icon {
                    background-size: contain;
                }
            }
            @media screen and (max-width: $mobile-break) {
                flex-direction: column;
                align-items: flex-start;
            }
        }
        &__date {
            color: $green;
            font-weight: 700;
            font-family: 'Outfit', sans-serif;
            margin-bottom: 25px;
        }
    }
    &__content {
        .article-heading {
            border-left: 8px solid $primary-yellow;
            padding-left: $spacing-sm;
            color: $green;
            font-family: 'Outfit', sans-serif;
        }
    }
    &__footer {
        &__breadcrumbs {
            display: flex;
            justify-content: space-between;
            padding-top: $spacing-sm;
            .social-icons {
                display: flex;
                gap: $spacing-xs;
                li {
                    list-style-type: none !important;
                    margin-left: 0 !important;
                }
                .badge-icon {
                    background-size: contain;
                }
            }
            @media screen and (max-width: $mobile-break) {
                flex-direction: column-reverse;
            }
        }
    }
}
.featured-articles {
    &__container {
        display: flex;
        gap: $spacing-sm;
        height: 777px;
        &__primary-article {
            width: 60%;
            height: 100%;
            border-bottom: 8px solid $primary-yellow;
            padding: 55px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: -1;
            }
            time {
                font-weight: 500;
                color: white;
                display: block;
                margin-bottom: 25px;
                margin-top: -5px;
            }
            h3,
            p {
                color: white;
            }
            a:not(.button-arrow) {
                color: white;
            }
            .button-arrow {
                color: white !important;
            }
            &::after {
                content: '';
                background: rgb(0, 42, 21);
                background: linear-gradient(
                    0deg,
                    rgba(0, 42, 21, 1) 0%,
                    rgba(255, 255, 255, 0) 100%
                );
                // background: rgb(0, 42, 21);
                // background: linear-gradient(
                //     0deg,
                //     rgba(0, 42, 21, 1) 0%,
                //     rgba(0, 29, 14, 0.65) 69%,
                //     rgba(255, 255, 255, 0) 100%
                // );
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
            }
        }
        &__secondary-articles {
            width: 40%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: $spacing-sm;
            &__article {
                flex: 1;
                border-bottom: 8px solid $primary-yellow;
                padding: $spacing-xs;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                position: relative;
                z-index: 1;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    z-index: -1;
                }
                time {
                    font-weight: 500;
                    color: white;
                    display: block;
                    margin-bottom: 25px;
                    margin-top: -5px;
                }
                h3,
                p {
                    color: white;
                }
                a:not(.button-arrow) {
                    color: white;
                }
                .button-arrow {
                    color: white !important;
                }
                &::after {
                    content: '';
                    background: rgb(0, 42, 21);
                    background: linear-gradient(
                        0deg,
                        rgba(0, 42, 21, 1) 0%,
                        rgba(255, 255, 255, 0) 100%
                    );
                    // background: rgb(0, 42, 21);
                    // background: linear-gradient(
                    //     0deg,
                    //     rgba(0, 42, 21, 1) 0%,
                    //     rgba(0, 29, 14, 0.65) 69%,
                    //     rgba(255, 255, 255, 0) 100%
                    // );
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                }
            }
        }
    }
}
.news-articles {
    &__container {
        display: flex;
        gap: $spacing-sm;
        &__articles {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            &__article {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background: white;
                flex: 1 0 calc(33.33% - 20px); /* 10px for margin or gap, adjust as needed */
                border-bottom: 8px solid $primary-yellow;
                box-shadow: rgba(0, 0, 0, 0.18) 0px 3px 8px;
                padding: $spacing-xs;
                position: relative;
                list-style-type: none;
                img {
                    max-width: unset;
                    width: calc(100% + 30px);
                    margin-top: -$spacing-xs;
                    margin-left: -$spacing-xs;
                    margin-bottom: 15px;
                }
                time {
                    color: $darkGrey;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 700;
                    font-style: italic;
                    font-size: 21px;
                    text-transform: capitalize;
                }
                h3 {
                    color: $green;
                    font-family: 'Poppins', sans-serif;
                }
                a:not(.button-arrow) {
                    font-style: normal;
                    font-size: 18px;
                }
            }
        }
        &__categories {
            width: 25%;
            a {
                margin-bottom: 0;
                border-top: 2px solid $primary-yellow;
                padding: 15px 0;
                text-decoration: none;
                color: $darkGrey;
                &:last-child {
                    border-bottom: 2px solid $primary-yellow;
                }
                &:hover,
                &.selected {
                    color: $green;
                    font-weight: 700;
                }
            }
        }
    }
    &__pagination {
        margin-top: $spacing-med;
        .page-numbers {
            display: flex;
            justify-content: flex-end;
            gap: $spacing-xs;
            li {
                list-style-type: none !important;
                font-style: normal;
                .current-page {
                    color: black;
                }
                a {
                    text-decoration: underline;
                }
                * {
                    font-style: normal;
                }

                .next,
                .prev {
                    text-decoration: none;
                }
            }
        }
    }
}
.news-grid {
    > .container {
        @media screen and (max-width: $mobile-break) {
            padding-bottom: 90px;
        }
    }
    &__header {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: $mobile-break) {
            .button {
                position: absolute;
                bottom: 0;
            }
        }
    }

    &__articles {
        display: flex;
        gap: $spacing-med;
        &__primary-article {
            h3 {
                margin-bottom: 10px;
            }
            time {
                display: block;
                margin-bottom: 20px;
            }
            .button-arrow {
                display: block;
            }
            @media screen and (max-width: $mobile-break) {
                margin: $spacing-sm 0;
                border-bottom: 2px solid $primary-yellow;
            }
        }
        &__secondary-articles {
            display: flex;
            flex-direction: column;
            &__article {
                padding: $spacing-sm 0;
                border-bottom: 2px solid $primary-yellow;
                h3 {
                    margin-bottom: 10px;
                }
                time {
                    display: block;
                    margin-bottom: 20px;
                }
                .button-arrow {
                    margin-bottom: 0;
                    display: block;
                }
                &:first-of-type {
                    padding-top: 0px;
                }
                &:last-of-type {
                    border-bottom: 0px;
                }
            }
        }
        time {
            font-size: 18px;
            font-style: italic;
        }
    }
    @media screen and (max-width: $mobile-break) {
        &__header {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__articles {
            flex-direction: column;
            gap: 0;
        }
    }
}

@media screen and (max-width: $mobile-break) {
    .featured-articles {
        &__container {
            flex-direction: column;
            height: unset;
            &__primary-article {
                width: 100%;
                height: 500px;
            }
            &__secondary-articles {
                width: 100%;
                &__article {
                    flex: unset;
                    height: 500px;
                }
            }
        }
    }
    .news-articles {
        &__container {
            flex-direction: column-reverse;
            gap: $spacing-sm;
            &__articles {
                width: 100%;
                flex-direction: column;
                &__article {
                    width: 100%;
                    margin: 10px 0;
                }
            }
            &__categories {
                width: 100%;
            }
        }
    }
}
