.program-archive {
    .container {
        display: flex;
        gap: $spacing-med;
    }
    &__filters {
        #program-archive-form {
            max-width: 337px;
            .search-wrapper {
                position: relative;
                margin-bottom: $spacing-sm;
                #program-archive-search {
                    padding: 25px;
                    background: $grey;
                    color: black;
                    margin-bottom: 0;
                    &::placeholder {
                        color: black; /* Change placeholder text color to red */
                        font-weight: 400;
                        font-family: 'Poppins', sans-serif;
                        font-size: 22px;
                    }
                }
                &::after {
                    content: '';
                    background: url(assets/images/icon-search.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    filter: brightness(0);
                    width: 27px;
                    height: 27px;
                    position: absolute;
                    right: $spacing-xs;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
                }
            }
            .checkboxes-header {
                border-bottom: 1px solid $primary-yellow;
                padding-bottom: $spacing-sm;
            }
            .toggles {
                .toggle {
                    &__trigger {
                        padding: 10px 0;
                        padding-left: 0;
                        padding-right: 0;
                        border-left: 0px;
                        border-right: 0px;
                        border-top: 0px;
                        border-bottom: 1px solid $primary-yellow;
                        min-width: 337px;
                        &-text {
                            h4 {
                                color: $darkGrey;
                            }
                        }
                        &-icon {
                            top: -7px;
                            &::before {
                                color: $primary-yellow;
                                font-family: auto;
                                font-size: 40px;
                            }
                        }
                        &.toggle--active {
                            .toggle__trigger-icon {
                                top: -12px;
                            }
                        }
                    }
                    &__box {
                        border: 0px;
                        border-bottom: 1px solid $primary-yellow;
                        padding: 0px;
                        padding-bottom: $spacing-sm;
                        .css-checkbox {
                            position: absolute;
                            overflow: hidden;
                            clip: rect(0 0 0 0);
                            height: 1px;
                            width: 1px;
                            margin: -1px;
                            padding: 0;
                            border: 0;
                            width: 2%;
                        }
                        .css-checkbox + label {
                            position: relative;
                            font-size: 17px;
                            cursor: pointer;
                            display: inline-flex;
                            color: rgb(0, 0, 0);
                            width: 95%;
                        }
                        .css-checkbox + label::before {
                            content: ' ';
                            display: inline-block;
                            vertical-align: top;
                            margin-right: 19px;
                            margin-top: 2px;
                            width: 19px;
                            height: 19px;
                            min-height: 19px;
                            min-width: 19px;
                            background-color: $grey;
                            border-width: 1px;
                            border-style: solid;
                            border-color: #e5e5e5;
                            border-radius: 2px;
                            box-shadow: none;
                        }
                        .css-checkbox:checked + label::after {
                            content: ' ';
                            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjMDAwMDAwIiBkPSJNMTczLjg5OCA0MzkuNDA0bC0xNjYuNC0xNjYuNGMtOS45OTctOS45OTctOS45OTctMjYuMjA2IDAtMzYuMjA0bDM2LjIwMy0zNi4yMDRjOS45OTctOS45OTggMjYuMjA3LTkuOTk4IDM2LjIwNCAwTDE5MiAzMTIuNjkgNDMyLjA5NSA3Mi41OTZjOS45OTctOS45OTcgMjYuMjA3LTkuOTk3IDM2LjIwNCAwbDM2LjIwMyAzNi4yMDRjOS45OTcgOS45OTcgOS45OTcgMjYuMjA2IDAgMzYuMjA0bC0yOTQuNCAyOTQuNDAxYy05Ljk5OCA5Ljk5Ny0yNi4yMDcgOS45OTctMzYuMjA0LS4wMDF6Ii8+PC9zdmc+');
                            background-repeat: no-repeat;
                            background-size: 14px 14px;
                            background-position: center center;
                            position: absolute;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-left: 0px;
                            left: 0px;
                            top: 0px;
                            text-align: center;
                            background-color: transparent;
                            font-size: 10px;
                            height: 21px;
                            width: 21px;
                        }
                    }
                }
            }
        }
    }
    &__programs {
        width: 100%;

        &__list {
            display: flex;
            flex-wrap: wrap;
            gap: $spacing-xs;
            &__program {
                background: transparent;
                position: relative;
                border-bottom: 8px solid $primary-yellow;
                box-shadow: rgba(0, 0, 0, 0.18) 0px 3px 8px;
                padding: $spacing-xs;
                width: calc(50% - 9px);
                transition: 0.25s ease;
                a.button-arrow {
                    margin-bottom: 0px;
                }

                &:hover {
                    background: $offWhite;
                }
            }
        }
        &__pagination {
            margin-top: $spacing-sm;
            .page-numbers {
                display: flex;
                justify-content: flex-end;
                gap: $spacing-xs;
                li {
                    list-style-type: none !important;
                    font-style: normal !important;
                    .current-page {
                        color: black;
                    }
                    a {
                        text-decoration: underline;
                    }
                    * {
                        font-style: normal;
                    }

                    .next,
                    .prev {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $mobile-break) {
    .program-archive {
        .container {
            flex-direction: column;
        }
        &__filters {
            #program-archive-form {
                max-width: 100%;
            }
        }
    }
}
