/* Toggles */
.toggles {
    .toggle {
        margin: 0 0 8px;
        padding: 0 0 2px 0;
        width: 100%;

        &__trigger {
            background: transparent;
            display: block;
            position: relative;
            width: 100%;
            height: auto;
            border: none;
            padding: 35px 60px 35px 35px;
            text-align: left;
            border: 2px solid white;
            border-left: 8px solid white;
            color: $textColor;
            text-decoration: none;
            font-weight: bold;
            text-transform: uppercase;

            &:hover,
            &:focus {
                color: $textColor;
            }

            &-text {
                pointer-events: none;
                h3 {
                    text-transform: initial !important;
                    margin-bottom: 0;
                }
            }

            &-icon {
                display: block;
                background: transparent;
                position: absolute;
                top: 0;
                left: initial;
                right: 10px;
                width: 45px;
                height: 100%;

                color: $textColor;
                font-size: 26px;
                line-height: 52px;
                text-align: center;
                transition: color 0.3s ease-in-out;
                pointer-events: none;
                &:before {
                    z-index: 2;
                    font-family: auto;
                    content: '+';
                    position: absolute;
                    top: calc(50% - 1px);
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: $primary-yellow;
                    font-size: 60px;
                }
            }
        }

        &__box {
            overflow: hidden;
            padding: $spacing-sm;
            border-bottom: 2px solid white;
            border-left: 8px solid white;
            border-right: 2px solid white;
            transition: 0.25s ease;
            opacity: 1;

            &.visually-hidden {
                opacity: 0;
            }
        }

        &--active {
            border-bottom: unset !important;

            .toggle {
                &__trigger-icon {
                    &:before {
                        content: '-';
                    }
                }
            }
        }
    }
    &.image-content-box-overlay {
        position: relative;
        background: url(assets/images/hp-programs-bg.jpg);
        background-size: cover !important;
        &:has(.toggle--active) {
            background: unset;
            @media screen and (min-width: $extra-break) {
                .close-toggle-btn {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    height: 120px;
                    width: 120px;
                    z-index: 2;
                    cursor: pointer;
                    &::before {
                        content: '';
                        background: url(assets/images/close-x.svg);
                        background-size: cover;
                        height: 120px;
                        width: 120px;
                        position: absolute;
                        z-index: 2;
                    }
                }
            }
        }
        &::before {
            content: '';
            background: #00381c;
            opacity: 0.87;
            position: absolute;
            width: 37.5%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
        }

        // &::after {
        //     content: '';
        //     background: #00381c;
        //     opacity: 0.87;
        //     position: absolute;
        //     width: 100%;
        //     height: 100%;
        //     top: 0;
        //     left: 0;
        // }

        .container-large {
            position: unset;
        }

        .toggles__content {
            z-index: 1;
            background: transparent;
            display: block;
            position: relative;
            width: 32.5%;
            margin-bottom: $spacing-med;
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                color: white;
            }
            p {
                color: white;
            }
        }

        .toggle {
            margin: 0;
            padding: 0 0 2px 0;
            width: 100%;

            .toggle__trigger[aria-expanded='true'] ~ img {
                visibility: visible;
                opacity: 1;
            }

            > img {
                visibility: hidden;
                opacity: 0;
                position: absolute;
                object-fit: cover;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 0;
                transition: 0.5s ease;
            }

            &__trigger {
                background: transparent;
                display: block;
                position: relative;
                width: 32.5%;
                height: auto;
                padding: $spacing-sm $spacing-xs $spacing-sm 0px;
                text-align: left;
                cursor: pointer;
                border: none;
                border-top: 0px;
                border-bottom: 1px solid $primary-yellow;
                z-index: 1;
                &:hover {
                    // .toggle__trigger-text {
                    //     * {
                    //         color: $primary-yellow;
                    //     }
                    // }
                    .toggle__trigger-icon {
                        &::before {
                            filter: brightness(1);
                        }
                    }
                }
                &:first-of-type {
                    border-top: 1px solid $primary-yellow;
                    border-bottom: 0px;
                }

                &-text {
                    pointer-events: none;
                    * {
                        color: white;
                        text-transform: initial !important;
                        margin-bottom: 0;
                        font-family: 'Poppins', sans-serif;
                        font-weight: 700;
                        font-style: normal;
                        font-size: 24px;
                    }
                }

                &-icon {
                    display: block;
                    background: transparent;
                    position: absolute;
                    top: 0;
                    left: initial;
                    right: -10px;
                    width: 45px;
                    height: 100%;

                    color: $textColor;
                    font-size: 26px;
                    line-height: 52px;
                    text-align: center;
                    transition: color 0.3s ease-in-out;
                    pointer-events: none;
                    &::before {
                        content: '';
                        background: url(assets/images/btn-arrow-yellow.svg);
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 10px;
                        height: 16px;
                        position: absolute;
                        right: 30px;
                        top: calc(50% + 3px);
                        transform: translateY(-50%);
                        filter: brightness(999);
                    }

                    &:hover {
                        color: $primary-yellow;
                        &::after {
                            filter: brightness(1);
                        }
                    }
                }

                &.toggle--active {
                    .toggle__trigger-icon {
                        &::before {
                            filter: brightness(1);
                        }
                    }
                }
            }

            &__box {
                z-index: 1;
                position: absolute;
                bottom: 0;
                top: 0;
                left: 37.5%;
                width: 62.5%;
                height: 100%;
                overflow: hidden;
                padding: $spacing-sm;
                padding-top: 100px;
                padding-bottom: $spacing-xl;
                border: 0px;
                color: white;
                background: #00381cde;
                @media screen and (max-width: $extra-break) {
                    width: 100%;
                }
                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    color: white;
                }
                ul {
                    li {
                        color: white !important;
                    }
                }
            }

            &--active {
                border-bottom: unset !important;
            }
        }
    }
    &.alternating-color {
        .toggles__wrap {
            .toggle {
                padding: 0 5%;
                .toggle__trigger,
                .toggle__box {
                    border: 0px;
                }
                &:nth-of-type(odd) {
                    background: $offWhite;
                }
                .toggle__trigger-icon {
                    &::before {
                        color: $green;
                    }
                }
                .button-lg {
                    width: 100%;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    justify-content: space-between;
                    max-width: calc(33.33% - 24px);
                    max-width: calc(33.33% - 2.4rem);
                    -webkit-box-flex: 1;
                    -ms-flex: 1 0 calc(33.33% - 24px);
                    flex: 1 0 calc(33.33% - 24px);
                    -ms-flex: 1 0 calc(33.33% - 2.4rem);
                    flex: 1 0 calc(33.33% - 2.4rem);
                    margin-bottom: 0;
                    max-width: 100%;
                    width: 100%;
                    -webkit-box-flex: 1;
                    -ms-flex: 1;
                    flex: 1;
                    margin-bottom: 15px;
                }
            }
        }
    }
    &.image-overlays {
        @media screen and (max-width: $mobile-break) {
            padding-bottom: 0px !important;
        }
        .container-large {
            @media screen and (max-width: $mobile-break) {
                padding: 0;
            }
        }
        .toggles__wrap {
            display: flex;
            justify-content: center;
            flex: 1;
            gap: 40px;
            .toggle {
                padding: 0;
                position: relative;
                width: 543px;
                height: 777px;
                z-index: 0;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                text-align: center;
                align-items: center;
                border-bottom: 7px solid $primary-yellow;
                @media screen and (max-width: $mobile-break) {
                    width: 100%;
                    height: 555px;
                    &.mobile-hide {
                        display: none;
                    }
                }
                > img {
                    position: absolute;
                    object-fit: cover;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    @media screen and (max-width: $mobile-break) {
                        height: 55%;
                    }
                }
                &__trigger {
                    position: unset;
                    z-index: 1;
                    padding: 0;
                    border: 0px;
                    height: 100%;
                    &::before {
                        content: '';
                        background: #00381c;
                        opacity: 0.87;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 32.5%;
                        z-index: -1;
                        transition: 0.25s ease-in-out;
                        @media screen and (max-width: $mobile-break) {
                            height: 45%;
                            opacity: 1 !important;
                        }
                    }
                    &-text {
                        height: 100%;
                        display: flex;
                        justify-content: flex-end;
                        flex-direction: column;
                        align-items: center;
                        padding-bottom: $spacing-lg;
                        h1,
                        h2,
                        h3,
                        h4,
                        h5,
                        h6 {
                            color: white;
                        }
                        * {
                            text-align: center;
                            color: white;
                            display: block;
                        }
                        h3 {
                            font-size: 34px;
                        }
                        strong {
                            font-size: 22px;
                        }
                        em {
                            font-weight: 400;
                            text-transform: none;
                        }
                    }
                    &-icon {
                        position: absolute;
                        bottom: -33px;
                        left: 50%;
                        transform: translateX(-50%);
                        top: unset;
                        z-index: 1;
                        width: 66px;
                        height: 66px;
                        background: $green;
                        pointer-events: all;
                        cursor: pointer;
                        &:before {
                            color: white;
                        }
                    }
                    &.toggle--active {
                        .toggle__trigger-text {
                            @media screen and (max-width: $mobile-break) {
                                transform: translateY(100px);
                            }
                        }
                    }
                }
                &__box {
                    z-index: 1;
                    position: absolute;
                    display: none;
                    pointer-events: none;
                    border: 0;
                    margin-bottom: $spacing-sm;
                    overflow: unset;
                    p {
                        font-size: 20px;
                    }
                    * {
                        color: white !important;
                    }
                }
                &--active.toggle__trigger {
                    &::before {
                        content: '';
                        background: #00381c;
                        opacity: 0.87;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                    }
                    .toggle__trigger-text {
                        padding-bottom: 400px;
                    }
                }
            }
        }
    }
    &.green-bg {
        .toggle__trigger-icon:before {
            color: $primary-yellow;
        }
    }
}
@media screen and (max-width: $extra-break) {
    .toggles {
        &.image-content-box-overlay {
            background: $darker-green;
            &::before,
            &::after {
                content: unset;
            }

            .toggles__content {
                width: 100%;
            }

            .toggle {
                margin: 0 0 8px;
                padding: 0 0 2px 0;
                width: 100%;

                > img {
                    display: none;
                }

                &__trigger {
                    width: 100%;
                }

                &__box {
                    z-index: 1;
                    position: unset;
                    padding: 0;
                }
            }
        }
        &.image-overlays {
            .toggles__wrap {
                display: flex;
                justify-content: center;
                flex: 1;
                gap: 40px;
                .toggle {
                    &__box {
                        p {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}
