/* Toggles */
.toggles {
    .toggle {
        margin: 0 0 8px;
        padding: 0 0 2px 0;
        width: 100%;

        &__trigger {
            background: transparent;
            display: block;
            position: relative;
            width: 100%;
            height: auto;
            border: none;
            padding: 25px 60px 25px 25px;
            text-align: left;
            border: 2px solid $primary-yellow;
            border-left: 8px solid $primary-yellow;
            color: $color-text;
            text-decoration: none;
            font-weight: bold;
            text-transform: uppercase;

            &:hover,
            &:focus {
                color: $color-text;
            }

            &-text {
                pointer-events: none;
                h3 {
                    text-transform: initial !important;
                    margin-bottom: 0;
                }
            }

            &-icon {
                display: block;
                background: transparent;
                position: absolute;
                top: 0;
                left: initial;
                right: 10px;
                width: 45px;
                height: 100%;

                color: $color-text;
                font-size: 26px;
                line-height: 52px;
                text-align: center;
                transition: color 0.3s ease-in-out;
                pointer-events: none;
                &:before {
                    z-index: 2;
                    content: '+';
                    position: absolute;
                    top: calc(50% - 1px);
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: $green;
                    font-size: 60px;
                }
            }
        }

        &__box {
            overflow: hidden;
            padding: 25px;
            border-bottom: 2px solid $primary-yellow;
            border-left: 8px solid $primary-yellow;
            border-right: 2px solid $primary-yellow;
        }

        &--active {
            border-bottom: unset !important;

            .toggle {
                &__trigger-icon {
                    &:before {
                        content: '-';
                    }
                }
            }
        }
    }
    &.image-content-box-overlay {
        background: url(assets/images/hp-programs-bg.jpg) no-repeat;
        background-size: cover;
        position: relative;
        &::before {
            content: '';
            background: #002a15ad;
            position: absolute;
            width: 37.5%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 0;
        }
        &::after {
            content: '';
            background: #002a15ad;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        .toggles__content {
            z-index: 1;
            background: transparent;
            display: block;
            position: relative;
            width: 32.5%;
            margin-bottom: 50px;
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                color: $primary-yellow;
            }
            p {
                color: white;
            }
        }

        .toggle {
            margin: 0 0 8px;
            padding: 0 0 2px 0;
            width: 100%;

            &__trigger {
                background: transparent;
                display: block;
                position: relative;
                width: 32.5%;
                height: auto;
                padding: 25px 15px 25px 0px;
                text-align: left;
                cursor: pointer;
                border: none;
                border-top: 0px;
                border-bottom: 1px solid $primary-yellow;
                z-index: 1;
                &:hover {
                    .toggle__trigger-text {
                        * {
                            color: $primary-yellow;
                        }
                    }
                    .toggle__trigger-icon {
                        &::before {
                            filter: brightness(1);
                        }
                    }
                }
                &:first-of-type {
                    border-top: 1px solid $primary-yellow;
                    border-bottom: 0px;
                }

                &-text {
                    pointer-events: none;
                    * {
                        color: white;
                        text-transform: initial !important;
                        margin-bottom: 0;
                        font-family: 'libre-franklin', sans-serif;
                        font-weight: 700;
                        font-style: normal;
                        font-size: 24px;
                    }
                }

                &-icon {
                    display: block;
                    background: transparent;
                    position: absolute;
                    top: 0;
                    left: initial;
                    right: -10px;
                    width: 45px;
                    height: 100%;

                    color: $color-text;
                    font-size: 26px;
                    line-height: 52px;
                    text-align: center;
                    transition: color 0.3s ease-in-out;
                    pointer-events: none;
                    &::before {
                        content: '';
                        background: url(assets/images/btn-arrow-yellow.svg);
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 10px;
                        height: 16px;
                        position: absolute;
                        right: 30px;
                        top: calc(50% + 3px);
                        transform: translateY(-50%);
                        filter: brightness(999);
                    }

                    &:hover {
                        color: $primary-yellow;
                        &::after {
                            filter: brightness(1);
                        }
                    }
                }
            }

            &__box {
                z-index: 1;
                position: absolute;
                bottom: 0;
                left: 40%;
                overflow: hidden;
                padding: 25px;
                border: 0px;
                color: white;
                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    color: $primary-yellow;
                }
                ul {
                    li {
                        color: white !important;
                    }
                }
            }

            &--active {
                border-bottom: unset !important;
            }
        }
    }
    &.image-overlays {
        .toggles__wrap {
            display: flex;
            justify-content: center;
            flex: 1;
            gap: 40px;
            .toggle {
                padding: 0;
                position: relative;
                width: 543px;
                height: 777px;
                z-index: 0;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                text-align: center;
                align-items: center;
                border-bottom: 7px solid $primary-yellow;
                &::before {
                    content: '';
                    background: rgb(0, 42, 21);
                    background: linear-gradient(
                        0deg,
                        rgba(0, 42, 21, 1) 0%,
                        rgba(255, 255, 255, 0) 100%
                    );
                    // background: rgb(0, 42, 21);
                    // background: linear-gradient(
                    //     0deg,
                    //     rgba(0, 42, 21, 1) 0%,
                    //     rgba(0, 29, 14, 0.65) 69%,
                    //     rgba(255, 255, 255, 0) 100%
                    // );
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
                > img {
                    position: absolute;
                    object-fit: cover;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                }
                &__trigger {
                    position: unset;
                    z-index: 1;
                    padding: 0;
                    border: 0px;
                    height: 100%;
                    &-text {
                        height: 100%;
                        display: flex;
                        justify-content: flex-end;
                        flex-direction: column;
                        align-items: center;
                        padding-bottom: 75px;
                        h1,
                        h2,
                        h3,
                        h4,
                        h5,
                        h6 {
                            color: $primary-yellow;
                        }
                        * {
                            text-align: center;
                            color: white;
                            display: block;
                        }
                        h3 {
                            font-size: 34px;
                        }
                        strong {
                            font-size: 22px;
                        }
                        em {
                            font-weight: 400;
                            text-transform: none;
                        }
                    }
                    &-icon {
                        position: absolute;
                        bottom: -33px;
                        left: 50%;
                        transform: translateX(-50%);
                        top: unset;
                        z-index: 1;
                        width: 66px;
                        height: 66px;
                        background: $primary-yellow;
                        cursor: pointer;
                    }
                }
                &__box {
                    z-index: 1;
                    position: absolute;
                    display: none;
                    pointer-events: none;
                    border: 0;
                    margin-bottom: 25px;
                    overflow: unset;
                    p {
                        font-size: 23px;
                    }
                    * {
                        color: white !important;
                    }
                }
                &--active {
                    .toggle__trigger-text {
                        padding-bottom: 400px;
                    }
                }
            }
        }
    }
    &.green-bg {
        .toggle__trigger-icon:before {
            color: white;
        }
    }
}
@media screen and (max-width: $extra-break) {
    .toggles {
        &.image-content-box-overlay {
            background: $dark-green;
            &::before,
            &::after {
                content: unset;
            }

            .toggles__content {
                width: 100%;
            }

            .toggle {
                margin: 0 0 8px;
                padding: 0 0 2px 0;
                width: 100%;

                &__trigger {
                    width: 100%;
                }

                &__box {
                    z-index: 1;
                    position: unset;
                    padding: 0;
                }
            }
        }
    }
}
