#error404 {
	padding: 30px 0 100px 0;
}

.error404-num {
	font-size: 250px;
	line-height: 1.2em;
	text-align: center;
}

#error404 hgroup {
	margin: 0 0 2em 0;
	padding-top: 50px;
}

#error404 hgroup h1 {
	font-size: 3em;
	margin-bottom: .2em;
}