#error404 {
    padding: 30px 0 $spacing-xl 0;
}

.error404-num {
    font-size: 250px;
    line-height: 1.2em;
    text-align: center;
}

#error404 hgroup {
    margin: 0 0 2em 0;
    padding-top: $spacing-med;
}

#error404 hgroup h1 {
    font-size: 3em;
    margin-bottom: 0.2em;
}
