#loading-delay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: block;
    z-index: 99999;
}
.home #loading-delay {
    background-image: url(assets/images/ajax-loader.gif);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    @media screen and (max-width: $mobile-break) {
        background-size: contain;
    }
}
.no-js #loading-delay {
    display: none;
}

/* Scroll Classes
-------------------------*/

.home .primary-content-wrap {
    padding-bottom: 0;
}

/* Slider Classes
-------------------------*/
.slider-wrapper {
    .slick-dots {
        margin: 0;

        li {
            width: auto;
            height: auto;
            padding-left: 0;

            &:before {
                content: '';
                display: none;
            }

            button {
                width: 34px;
                height: 7px;

                &:before {
                    content: '';
                    display: none;
                }
            }
        }
    }
}

.front-slider-wrapper {
    position: relative;
    z-index: 50;
    height: 636px;
    z-index: 1;

    .slick-slide {
        z-index: 100;
        &::before {
            content: '';
            background: rgb(0, 97, 48);
            background: linear-gradient(
                0deg,
                rgba(0, 97, 48, 1) 0%,
                rgba(0, 104, 52, 0.8855917366946778) 15%,
                rgba(0, 104, 52, 0) 100%
            );
            width: 100%;
            height: 340px;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
        }
    }
    .slick-dots {
        z-index: 1;
        position: absolute;
        bottom: 140px;
        li button {
            background-color: white;
        }

        .slick-active button {
            background-color: $primary-yellow;
        }
    }

    @media screen and (max-width: $mobile-break) {
        .slick-dots {
            bottom: 65px;
        }
        height: auto;

        .front-page-slide {
            height: 100% !important;
            min-height: 600px;
        }
    }

    @media screen and (max-width: $mobile-med) {
        .slick-dots {
            bottom: 40px;
        }
        .front-page-slide {
            min-height: 550px;
        }
    }

    @media screen and (max-width: $extra-small) {
        .slick-dots {
            bottom: 0;
        }
        .front-page-slide {
            min-height: 420px;
        }
    }
}

.front-slider-footer-content {
    height: 23vw;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: $spacing-med;
    margin-bottom: -500px;
    &::before {
        content: '';
        background: url(assets/images/hp-slider-footer-bg.svg);
        background-repeat: no-repeat;
        background-size: contain;
        z-index: -1;
        width: 100%;
        height: 23vw;
        position: absolute;
        top: -1px;
        @media screen and (min-width: $full-screen) {
            background-size: cover !important;
        }
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        background: rgb(255, 255, 255);
        background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0.93) 69%,
            rgba(255, 255, 255, 0) 100%
        );
        z-index: -2;
        width: 100%;
        height: 23vw;
    }
    h3 {
        text-align: center;
        width: 1020px;
        color: white;
        font-weight: 400;
        strong {
            em {
                margin-top: $spacing-sm;
                display: block;
            }
        }
    }
    @media screen and (max-width: $extra-large) {
        h3 {
            font-size: 28px;
        }
    }
    @media screen and (max-width: $extra-break) {
        background: $green;
        margin-bottom: 0;
        height: auto;
        &::before,
        &::after {
            content: unset;
        }
    }
}

.front-page-slide {
    position: relative;
    text-align: center;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        color: #fff;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    }

    .slick-caption {
        width: 90%;
        .button {
            margin-bottom: 0;
        }
    }

    .slider-caption-excerpt {
        font-size: 22px;
        font-weight: bold;

        @media screen and (max-width: $mobile-break) {
            font-size: 16px;
        }
    }
}
