/*-----------------------
	FACULTY
------------------------*/
.full-width-cards{	    
    @extend .center-flex;
	width: 100%;
	margin: 55px 0 0;
	padding: 55px 0;
	text-align: center;
	
	& + .news-grid-layout {
		margin-top: 55px;
		
		@media screen and (max-width: $mobile-break) {
			margin-top: 25px;
		}
	}
	
	@media screen and (max-width: $first-break) {
		padding-bottom: 0;
		
		&.grey-backdrop {
			background-color: $grey;
		}
		
		&:after {
			display: none;
		}
	}
	
	@media screen and (max-width: $mobile-break) {
		display: inline-block;
		width: 100%;
		height: auto;
		margin: 25px 0 0;
		padding: 25px 0;
		
		.home & {
			margin: 0;
		}
	}
	
	.one-fifth {
		position: relative;
		
		&:nth-of-type(3) {
			padding: 25px 0px 5px;
		}
		
		@media screen and (max-width: $first-break) {
			width: 25%;
			margin-left: 0;
			
			&:nth-of-type(3) {
				width: 100%;
				padding: 25px 55px;
			}
		}
		
		@media screen and (max-width: $mobile-break) {
			display: none;
			
			&:nth-of-type(3) {
				display: block;
				width: 95%;
			}
		}
	}
	
	.card-full-width {
		min-height: 348px;
		
		@media screen and (max-width: $first-break) {
			min-height: 300px;
		}
	}
	
	.card-thumb {
		min-height: 348px;
		
		@media screen and (max-width: $first-break) {
			min-height: 300px;
		}
	}
	
	&.latest-events-listings .card-title {
		margin-bottom: 0;
	}
	
	.card-time {
		color: #fff;
		font-style: italic;
	}
	
	/* Fallback CSS for IE/Edge */
	.compat-object-fit {
		background-size: cover; 
		height: auto; 
		min-height: 348px;
		
		& > .card-thumb {
			opacity: 0;
		}
	}
	
	.card-excerpt {
		z-index: 2;
		opacity: 0;
		transition: opacity .3s cubic-bezier(.39,.05,.2,1);
		
		#{headings(1,6)} {
			color: #fff;
		}
	}
	
	span.card-overlay {
		background-color: rgba(0,0,0,0);
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: background .3s cubic-bezier(.39,.05,.2,1);
	}
	
	.one-fifth:hover {
		> .card-excerpt {
			opacity: 1;
		}
		
		> span.card-overlay {
			background-color: rgba(0,0,0,.5);
		}
	}
}

/*-----------------------
		NEWS
------------------------*/
#news-landing-feed{
	.recent-news-single {
		float: left;
		width: 32%;
		margin-left: 1%;
		padding: 0 25px;
		
		&:first-of-type {
			margin-left: 0;
		}
		
		@media screen and (max-width: $first-break) {
			float: none;
			width: 100%;
			margin: 0;
		}
	}
	
	.recent-news-container {
		display: block;
		position: relative;
		min-height: 200px;
		margin-bottom: 25px;
		overflow: hidden;
		
		@media screen and (max-width: $first-break) {
			float: left;
			width: 48%;
			margin-left: 2%;
			
			&:nth-of-type(odd) {
				margin: 0;
			}
		}
		
		@media screen and (max-width: $mobile-break) {
			float: none;
			width: 100%;
			min-height: 10px;
			margin: auto;
		}
	}
	
	.recent-news-container:hover > .recent-news-thumb,
	.recent-news-container:focus > .recent-news-thumb{
		transform: scale(1.1);
	}
	
	.recent-news-container:hover > .image-overlay,
	.recent-news-container:focus > .image-overlay{
		background-color: rgba(0,0,0,.85);
	}
	
	.recent-news-excerpt{
		z-index: 2;
		width: 100%;
		height: 100%;
		padding: 45px 35px 35px;
		text-align: left;
		
		* {
			color: #fff;
		}
		
		.entry-time {
			font-style: italic;
		}
		
		.read-more-link {
			font-style: italic;
			text-align: right;
			
			.icon-angle-right {
				position: relative;
				top: 2px; 			
			}
		}
		
		@media screen and (max-width: $mobile-break) {
			position: relative;
			top: 0;
			left: 0;
			transform: none;
			width: 100%;
			padding: 0;
			
			* {
				color: $purple;
			}
		}
	}
	
	.image-overlay {
		z-index: 1;
		
		@media screen and (max-width: $mobile-break) {
			display: none;
		}
	}
	
	.recent-news-thumb {
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: scale(1);
		transition: transform 1s ease;
		
		@media screen and (max-width: $mobile-break) {
			display: none;
		}
	}
}

/*-----------------------
	PROGRAM CARDS
------------------------*/
.filter-container {
	display: inline-block;
    width: 100%;
    height: auto;
	margin-bottom: 35px;
}

.info-card {
	border: 1px solid $grey;
	margin-top: 35px;
	margin-bottom: 35px; 
	padding: 25px;
	text-align: center;
	
	/* Sizing */
	.two-rows & {
		@extend .one-half;
		
		&:nth-of-type(2n+1){
			margin-left: 0;
			clear: left;
		}
		
		@media screen and (max-width: $mobile-break) {
			margin-top: 35px;
			margin-bottom: 35px;
		}
	}
	
	.three-rows & {
		@extend .one-third;
		@extend .med-one-half;
		
		&:nth-of-type(3n+1){
			margin-left: 0;
			clear: left;
		}
		
		@media screen and (max-width: $second-break){
			&:nth-of-type(3n+1){
				clear: none;
				margin-left: 3.5087719298246%;
			}

			&:nth-of-type(odd){
				clear: left;
				margin-left: 0;
			}
		}
		
		@media screen and (max-width: $mobile-break) {
			margin-top: 35px;
			margin-bottom: 35px;
		}

		@media screen and (max-width: $mobile-small){
			&:nth-of-type(3n+1){
				margin-left: 0;
			}
		}
	}
	
	.four-rows & {
		@extend .one-fourth;
		@extend .med-one-half;
		
		&:nth-of-type(4n+1){
			margin-left: 0;
			clear: left;
		}
		
		@media screen and (max-width: $second-break){
			&:nth-of-type(4n+1){
				clear: none;
				margin-left: 3.5087719298246%;
			}

			&:nth-of-type(odd){
				clear: left;
				margin-left: 0;
			}
		}
		
		@media screen and (max-width: $mobile-break) {
			margin-top: 35px;
			margin-bottom: 35px;
		}

		@media screen and (max-width: $mobile-small){
			&:nth-of-type(4n+1){
				margin-left: 0;
			}
		}
	}
	
	hr,
	.card-title,
	.card-program,
	.card-department,
	.card-time,
	.card-excerpt{
		text-align: left;
	}
	
	.card-image {
		position: relative;
		top: -50px;
		margin-bottom: -25px;
	}
	
	.card-title {
		margin-bottom: 7px;
    	font-size: 25px;
		font-weight: bold;
	
		.program-card-container & {
			color: $purple;
			font-weight: normal;
		}
	}
	
	hr {
		max-width: 200px;
		border-color: $grey;
	}
	
	.card-department,
	.card-time {
		color: darken($grey, 20%);
	}
	
	.card-button {
		position: relative;
		bottom: -50px;
		margin: -10px auto auto;
		color: #fff;
	}
}

/*-----------------------
	SCHOOL DIVISIONS
------------------------*/
.school-division-single {
	@extend .one-third;
	@extend .med-one-half;
	
	margin-bottom: 25px;
	text-align: center;
	
	&:nth-of-type(3n+1){
		clear: left;
		margin-left: 0;
	}
	
	@media screen and (max-width: $second-break){
		&:nth-of-type(3n+1){
			clear: none;
			margin-left: 3.5087719298246%;
		}
		
		&:nth-of-type(odd){
			clear: left;
			margin-left: 0;
		}
	}
	
	@media screen and (max-width: $mobile-small){
		&:nth-of-type(3n+1){
			margin-left: 0;
		}
	}
	
	.school-thumb {
		margin-bottom: 15px;
	}
	
	.button {
		color: #fff;
	}
}